body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1447727214830-cbcbf097b52c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7a8587;
}
form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
h1 {
	margin: 0;
}
footer  {
	color: white;
	text-align: center;
	margin-top: 60px;
	font-size: 13px;
}
footer a {
	color: white;
}
.container {
	background-color: white;
	width: 800px;
	padding: 50px;
	border-radius: 10px;
	display: block;
	margin: 25px auto;
	border: 5px solid gray;
}
.container h1 {
	text-align: center;
}
.question {
	padding: 10px;
	margin: 10px;
}
#submitBtn {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	color: white;
	background-color: gray;
	border: none;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
@media all and (max-width:900px) {
	form {
	display: flex;
	flex-wrap: wrap;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	padding: 10px;
	margin: 5px auto;
}
.question {
	padding: 10px;
	margin: 10px;
}
}
